body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive; /* Comic Sans fontti */
}

h1 {
  margin-top: 20px;
}

#scoreBoard {
  margin: 10px 0;
  font-size: 18px;
}

canvas {
  border: 2px solid white;
}

#highScores {
  margin-top: 10px;
  text-align: center;
}

#highScores h3 {
  margin-bottom: 5px;
}

#highScores ol {
  list-style: decimal;
  padding-left: 20px;
}
